speech_therapy/ios/Runner/GoogleService-Info.plist
speech_therapy/ios/Runner/GoogleService-Info.plist
speech_therapy/lib/firebase_options.dart
speech_therapy/ios/Runner/GoogleService-Info.plist
speech_therapy/ios/Runner/GoogleService-Info.plist
speech_therapy/ios/Runner/GoogleService-Info.plist
speech_therapy/lib/firebase_options.dart
speech_therapy/android/app/google-services.json
speech_therapy/macos/firebase_app_id_file.json
speech_therapy/linux/flutter/generated_plugin_registrant.cc
speech_therapy/linux/flutter/generated_plugins.cmake
speech_therapy/macos/Flutter/GeneratedPluginRegistrant.swift
speech_therapy/windows/flutter/generated_plugin_registrant.cc
speech_therapy/windows/flutter/generated_plugins.cmake
